#titulo{
font-family:arial;
font-size:20px;
text-align:center;

}
#secundarios{
font-family:armenian;
text-align:center;
}

ul.horizontal{
margin:0;
padding:0;
}
ul.horizontal li{
display:block;
float:left;
padding:0 10px;

}
.horizontal li a {
 font-family: Arial;
 font-size: 11px;
 text-decoration: none;
 float: left;
 padding: 10px;
 background-color: #2175bc;
 color: #fff;
 
 }
 .horizontal li a:hover {
 background-color: #2586d7;
 margin-top: -2;
 padding-bottom: 12px;]
 }
 